.dept-button {
    width: 30%;
    height: 10%;
    background-color: #feffce;
    margin: 10px;
    padding: 7%;
    box-shadow: 3px 4px 6px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 4px 6px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 6px 1px rgba(0,0,0,0.75);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px; 
}

.dept-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
}

.search-container {
    margin-bottom: 20px;
}

#searchDept {
    width: 50%; 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
